1. Thống kê số lượt đặt phòng theo thành phố

In [15]:
booking_city = booking.merge(
    hotel[["hotel_id", "city"]],
    on="hotel_id",
    how="left"
)

booking_by_city = booking_city["city"].value_counts()
booking_by_city

city
Ha Noi     31
Hà Nội     27
Da Nang    21
Tp. Hcm    20
Tp.Hcm     11
Đà Nẵng    10
Name: count, dtype: int64

 2. Tìm các booking không có đánh giá (rating)

In [6]:
# merge using existing variables `booking` and `review`
booking_no_rating = booking.merge(
    review, on="booking_id", how="left"
)

booking_no_rating = booking_no_rating[booking_no_rating["rating"].isna()]
booking_no_rating

    booking_id hotel_id checkin_date  nights  num_guests  rating comment
2       BK2002   HOT109   2024-04-06       4           2     NaN     NaN
3       BK2003   HOT102          NaT       2           2     NaN     NaN
8       BK2006   HOT101   2024-03-12       4           2     NaN     NaN
9       BK2007   HOT105          NaT       4           1     NaN     NaN
10      BK2008   HOT109          NaT       4           1     NaN     NaN
11      BK2009   HOT106   2024-03-13       1           2     NaN     NaN
12      BK2010   HOT101          NaT       3           1     NaN     NaN
22      BK2016   HOT100          NaT       3           3     NaN     NaN
24      BK2018   HOT104          NaT       1           1     NaN     NaN
25      BK2019   HOT101          NaT       2           3     NaN     NaN
34      BK2025   HOT102          NaT       1           1     NaN     NaN
39      BK2027   HOT103   2024-01-07       3           1     NaN     NaN
40      BK2028   HOT103   2024-04-15       4           2     NaN     NaN
41      BK2029   HOT106          NaT       1           1     NaN     NaN
44      BK2031   HOT107          NaT       3           2     NaN     NaN
47      BK2033   HOT100   2024-01-21       3           2     NaN     NaN
52      BK2037   HOT109          NaT       3           2     NaN     NaN
53      BK2038   HOT104          NaT       1           3     NaN     NaN
54      BK2039   HOT106          NaT       3           1     NaN     NaN
58      BK2041   HOT109   2024-01-14       1           2     NaN     NaN
64      BK2045   HOT104   2024-03-07       3           2     NaN     NaN
67      BK2047   HOT106          NaT       2           1     NaN     NaN
70      BK2049   HOT106   2024-01-05       1           1     NaN     NaN
73      BK2051   HOT103          NaT       3           1     NaN     NaN
80      BK2055   HOT105          NaT       3           2     NaN     NaN
81      BK2056   HOT104   2024-04-23       3           3     NaN     NaN
87      BK2059   HOT109   2024-04-23       2           2     NaN     NaN
88      BK2060   HOT101          NaT       1           3     NaN     NaN
89      BK2061   HOT106   2024-04-19       2           2     NaN     NaN
92      BK2063   HOT105          NaT       3           1     NaN     NaN
97      BK2067   HOT102          NaT       4           1     NaN     NaN
100     BK2069   HOT108   2024-02-17       1           3     NaN     NaN
107     BK2075   HOT106          NaT       3           1     NaN     NaN
128     BK2090   HOT108   2024-01-27       1           1     NaN     NaN
132     BK2092   HOT101          NaT       4           2     NaN     NaN
133     BK2093   HOT101          NaT       1           1     NaN     NaN
134     BK2094   HOT101          NaT       2           1     NaN     NaN
139     BK2098   HOT100          NaT       1           2     NaN     NaN
144     BK2102   HOT107          NaT       3           2     NaN     NaN
145     BK2103   HOT101   2024-04-02       1           2     NaN     NaN
147     BK2105   HOT107   2024-02-18       3           3     NaN     NaN
152     BK2109   HOT100          NaT       1           1     NaN     NaN
153     BK2110   HOT109          NaT       1           3     NaN     NaN
154     BK2111   HOT108          NaT       1           1     NaN     NaN
156     BK2113   HOT106   2024-04-15       1           2     NaN     NaN
158     BK2115   HOT107          NaT       2           1     NaN     NaN
166     BK2119   HOT107   2024-03-04       4           3     NaN     NaN

3. Tính số đêm trung bình mỗi booking

In [14]:
avg_nights = booking["nights"].mean()
print(f"Số đêm lưu trú trung bình: {avg_nights:.2f} đêm")

Số đêm lưu trú trung bình: 2.23 đêm

4. Thống kê số khách trung bình mỗi phòng theo loại room_type

In [10]:
guest_room = booking.merge(
    hotel[["hotel_id", "room_type"]],
    on="hotel_id",
    how="left"
)

avg_guests_by_room = guest_room.groupby("room_type")["num_guests"].mean()
avg_guests_by_room

room_type
Deluxe      1.750000
Standard    1.458333
Suite       1.888889
Name: num_guests, dtype: float64

5. Tìm các khách sạn có base_price bất thường (quá cao hoặc quá thấp)

In [13]:
q1 = hotel["base_price"].quantile(0.25)
q3 = hotel["base_price"].quantile(0.75)
iqr = q3 - q1

outliers = hotel[
    (hotel["base_price"] < q1 - 1.5 * iqr) |
    (hotel["base_price"] > q3 + 1.5 * iqr)
]
outliers

  hotel_id hotel_name    city room_type  base_price
1   HOT101   Resort D  Hà Nội    Deluxe       700.0
4   HOT104   Resort D  Ha Noi    Deluxe       700.0